div {
  height: 200px;
  width: 200px;
  background-color: blue;
  display: inline-block;
  /* margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px; */
  color: white;

  /* padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px; */

  padding: 10px 20px 30px 40px;
  margin: 10px 20px 30px 40px;

  border: solid red 5px;
}
