h1 {
   /* border: solid;
    border-width: 5px;
    border-color: red; */


    border: solid red 5px;
    border-radius: 20px; 


    outline-style: solid;
    outline-width: 5px;
    outline-color: blue; 
    outline-offset: 1px;

    margin: 50px;

    
}